@model UserViewModel
@{
    ViewData["Title"] = "Add User";
}
<div class="wmx50">
    <form class="d-flex gy16 fd-column" action="/users/add" method="post">
        <partial name="_UserForm" model="Model"/>
    </form>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial"/>
}