@model UserViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pong Battle!</h1>
    <p>@Model.EmailAddress</p>
    <p>@Model.FirstName</p>
    <p>@Model.LastName</p>
</div>

