@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pong Battle!</h1>

    <a href="/users">
        <h3> Player Leaderboard </h3>
    </a>
</div>

