@{
    ViewData["Title"] = "Home Page";
}

<div class="ta-center">
    <h1 class="fs-display3">Welcome to Pong Battle!</h1>

    <a href="/users">
        <h3> Player Leaderboard </h3>
    </a>
</div>

