@model IEnumerable<TeamViewModel>
@{
  ViewData["Title"] = "Team List Page";
  var count = Model.Count();
}

<div class="d-flex jc-space-between ai-start">
  <div class="flex--item">
    <h2 class="fs-headline2">There are @count total teams</h2>
  </div>
  <div class="flex--item">
    <a class="s-btn s-btn__primary" href="/teams/add">Add Team</a>
  </div>
</div>
<div class="s-table-container">
  <table class="s-table">
    <thead>
    <tr>
      <th>
        Team Name
      </th>
      <th>
        Player One
      </th>
      <th>
        Player Two
      </th>
      <th>
        Actions
      </th>
    </tr>
    </thead>
    @foreach (var teamViewModel in Model)
    {
      <tr>
        <td>
          @teamViewModel.Name
        </td>
        <td>
          @if (teamViewModel.PlayerOne != null)
          {
            @($"{teamViewModel.PlayerOne.FirstName} {teamViewModel.PlayerOne.LastName}")
          }
          else
          {
            <span class="fc-light">Unknown Player</span>
          }
        </td>
        <td>
          @if (teamViewModel.PlayerTwo != null)
          {
            @($"{teamViewModel.PlayerTwo.FirstName} {teamViewModel.PlayerTwo.LastName}")
          }
          else
          {
            <span class="fc-light">No Second Player</span>
          }
        </td>
        <td>
          @if (teamViewModel.Id.HasValue)
          {
            <a href="/teams/@teamViewModel.Id" class="btn">View</a>
          }
        </td>
      </tr>
    }
  </table>
</div>
