<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] - PongBattle.Web</title>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/PongBattle.Web.styles.css" asp-append-version="true"/>
  <link rel="stylesheet" href="https://unpkg.com/@@stackoverflow/stacks/dist/css/stacks.min.css">
</head>

<body>
<header class="s-topbar">
  <div class="s-topbar--container">
    <a href="~/" class="s-topbar--logo">Ping Battle</a>
    <nav class="s-topbar--navigation">
      <ol class="s-topbar--content">
        <li><a asp-controller="Home" asp-action="Index" class="s-topbar--item">Home</a></li>
        <li><a asp-controller="User" asp-action="Index" class="s-topbar--item">User</a></li>
        <li><a asp-controller="Team" asp-action="Index" class="s-topbar--item">Teams</a></li>
        <li><a asp-controller="Game" asp-action="Index" class="s-topbar--item">Game</a></li>
      </ol>
    </nav>
  </div>
</header>
<div class="wmx12 mx-auto mt8 ff-mono">
  <main role="main" class="pb-3">
    @RenderBody()
  </main>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>

</html>
